<html>
<head>
   <title>{% block title %}Tokens!{% endblock %}</title>
</head>
<body>
  {% block body %}
  <ul>
    {% if tokens %}
    {% for token in tokens %}
    <li>
      Token: {{ token.gcm_token}}
      Created: {{ token.created_at}}
      Updated: {{ token.updated_at}}
      {% endfor %}
      {% else %}
      <li>No tokens!
        {% endif %}
  </ul>
  {% endblock %}

  <!--The url tag takes a key="value" argument list for constructing a URL, and must always have an action key.
  This action links to a view called 'create' -->
  <p><a href="{% url action="create" %}">Register new token</a></p>

  <form method="post" action="{% url action="delete" %}">
    Delete:
    <select name="token_id">
      {% for token in tokens %}
      <option value="{{ token.gcm_token }}">{{ token.gcm_token }}
      {% endfor %}
    </select>
    <input type="submit">
  </form>

</body>
</html>
