<html>
<head>
  <title>Fresh Tokens!</title>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.0/jquery.min.js"></script>
  <script>
function listen_for_events(timestamp) {
  $.ajax("/webclient/pull/"+timestamp, { success:
    function(data, code, xhr) {
      for (var i=0; i<data.devices.length; i++) {
        var msg = data.devices[i].gcm_token;
        $("#device_list").append("<li>"+msg);
      }
      listen_for_events(data.timestamp);
    } });
}
$(document).ready(function() {
  listen_for_events({{ timestamp }});
});
  </script>
</head>
<body>
  Tokens:
  <ul id="device_list">
    {% for device in devices%}
    <li>{{ device.gcm_token}}
        {% endfor %}
  </ul>
</body>
</html>
