{% extends "template_navbar.html" %}

{% block title %} New message {% endblock %}

{% block body%}


<div class = "well">

  {% if success %}
  <div class="alert alert-success fade in">
    <strong>{{ success }} </strong> 
  </div>
  {% elif error %}
  <div class="alert alert-danger fade in">
    <strong>{{ error }} </strong> 
  </div>
  {% endif %}

  <div class = "container-fluid">

    <div class = "row">
      <div class = "col-md-12">
        <form role = "form" method="post">

          <div class = "form-group">
            <h3> <label for = "name">Title</label> </h3>
            <input type = "text" class="form-control" value="{{ template.title | default_if_none:"" }}" placeholder = "Notification title" name = "title">
          </div>

          <div class = "form-group">
          <h3><label for = "name">Body</label></h3>
          <textarea class = "form-control" rows = "4" placeholder = "Notification body" name = "body">{{ template.body| default_if_none:""}}</textarea>
          </div>

          <div style="overflow:hidden;">
            <div class="form-group">
              <div class="row">
                <div class="col-md-8">
                  <h3><label for = "name">Send date</label></h3>
                  <input type="hidden" id="selectedDate" name="date"/>
                  <div id="datetimepicker"></div>
                </div>
              </div>
            </div>
          </div>

          <button type = "submit" class = "btn btn-primary btn-lg" id = "submitButton"> Save</button>

            <script type="text/javascript"> 

              $(function () { 
                  $('#datetimepicker').datetimepicker({
                  format: "YYYY M D H m", inline: true, 
                  sideBySide: true, minDate: new Date(), 
                  calendarWeeks: true, showTodayButton: true});

                  {% if template %}
                  // Convert date components to a moment.js date object
                  var templateScheduledDateComponents = "{{ template.scheduled_for }}";
                  var dateComponents = templateScheduledDateComponents.replace(/[{ }]/g, '').trim().split(",");
                  var year = dateComponents[0];
                  var month = dateComponents[1] - 1; // Remove offset
                  var day = dateComponents[2];
                  var hour = dateComponents[3];
                  var minute = dateComponents[4];

                  // Set datepicker selected date
                  $('#datetimepicker').data("DateTimePicker").date(new Date(year, month, day, hour, minute));

                  {% endif %}
                  
                  populateTextfieldWithDatepickerData();

                  function populateTextfieldWithDatepickerData() {
                    //Populate hidden text field with selected date components
                    var selectedDate = $('#datetimepicker').data("DateTimePicker").date();
                    var year = selectedDate.year();
                    var month = selectedDate.month();
                    var day = selectedDate.date();
                    var hour = selectedDate.hour();
                    var minute = selectedDate.minute();
                    var dateString = [year,month,day,hour,minute];
                    $("#selectedDate").val(dateString);
                  }

                  $('#submitButton').on('click', function(e)  {
                      populateTextfieldWithDatepickerData();
                    });
                  }); 
            </script>

        </form>
      </div>
    </div>
  </div>
  </div>
{% endblock %}
