{% extends "template_navbar.html" %}

<!-- Awesomeness http://bootstrap-table.wenzhixin.net.cn/documentation/#column-options -->
{% block title %} All messages {% endblock %}

{% block body%}

 <script type="text/javascript"> 
   $(function () { 
       $('#table').on('click-row.bs.table', function(event, htmlElement)  {
         var notificationId = htmlElement[0].trim();
         window.location="/push/view_message/"+notificationId;
         });
       });
</script>

  <div class = "container-fluid">
    <div class = "row">
      <div class = "col-md-12">
        <h3> All messages </h3>
      </div>
    </div>
  </div>

<div class = "well">
  <div class = "container-fluid">
    <div class = "row">
      <div class = "col-md-12">

        <table id="table" class = "table table-hover" 
          data-toggle="table"
          data-search="true"
          data-show-columns="true"
          data-show-toggle="true"
          data-pagination="true"
          data-page-size="50">

          <thead>
            <tr>
              <th data-sortable="false" data-visible="false">Id</th>
              <th data-sortable="true" data-width="13%">Created</th>
              <th data-sortable="true" data-width="20%">Creator</th>
              <th data-sortable="true" data-width="13%">Title</th>
              <th data-sortable="false" data-width="25%">Body</th>
              <th data-sortable="true" data-width="13%">Send at</th>
              <th data-sortable="true">Status</th>
            </tr>
          </thead>

          <tbody>
            {% for template in notifications %}
              {% if template.is_sent %}
              <tr class = "success">
              {% elif template.is_pending %}
              <tr class = "warning">
              {% else %}
              <tr class = "danger">
              {% endif %}
                <td> {{ template.id}}</td>
                <td> {{ template.formatted_created_at }} </td>
                <td> {{ template.admin.name}}</td>
                <td> {{ template.title}}</td>
                <td> {{ template.body}}</td>
                <td> {{ template.formatted_scheduled_for}}</td>
                <td> {{ template.status }} </td>
              </tr>
            {% endfor %}
          </tbody>

        </table>

      </div>
    </div>
  </div>
</div>
{% endblock %}
