{% extends "template_navbar.html" %}

<!-- Awesomeness http://bootstrap-table.wenzhixin.net.cn/documentation/#column-options -->
{% block title %} Notification Details{% endblock %}

{% block meta_scripts %} 

<script type="text/javascript"> 

  function deleteNotificationTemplate() {
    $.ajax({
      url: '/push/delete_message/'+$("#notificationId").val(),
      type: 'DELETE',
      success: function(result) {
        window.location="/push/view_messages";
        },
      error: function(xhr, status) {
      <!-- Hide alert -->
      $('#modal').modal('toggle');

      <!-- Show alert -->
      if($("#alert").is(":hidden")) {
        $("#alert").toggleClass('hidden');
        }

      }});
  }

</script>

{% endblock %}

{% block body%}

<!-- Hidden input field containing the notification_template id -->
<input type="hidden" id="notificationId" value={{ template.id }}/>

  <div class = "container-fluid">
    <div class = "row">
      <div class = "col-md-12">
        <h3> Message details </h3>
      </div>
    </div>
  </div>

<!-- Present the notification template -->
<div class = "well">

<div class="alert alert-danger fade in hidden" id="alert">
  <strong>Cannot delete notification</strong>
</div>

  <div class = "container-fluid">

    <div class = "row">
      <div class = "col-md-12">

        <table class = "table" 
          data-toggle="table"
          data-show-toggle="true">

          <thead>
            <tr>
              <th>Created</th>
              <th>Updated</th>
              <th data-width="20%">Creator</th>
              <th>Title</th>
              <th data-width="25%">Body</th>
              <th data-width="13%">Send at</th>
              <th >Status</th>
            </tr>
          </thead>

          <tbody>
            {% if template.is_sent %}
              <tr class = "success">
              {% elif template.is_pending %}
              <tr class = "warning">
              {% else %}
              <tr class = "danger">
              {% endif %}
                <td> {{ template.formatted_created_at }} </td>
                <td> {{ template.formatted_updated_at }} </td>
                <td> {{ template.admin.name}}</td>
                <td> {{ template.title}}</td>
                <td> {{ template.body}}</td>
                <td> {{ template.formatted_scheduled_for}}</td>
                <td> {{ template.status }} </td>
              </tr>
          </tbody>

        </table>

      </div>
    </div>

    </br>


    {% if template.is_pending %}
    <!-- Delete Edit buttons -->
    <div class = "row">

      <div class = "col-md-1">
        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#modal">
          <span class="glyphicon glyphicon-remove"></span> Delete
        </button>
      </div>

      <div class = "col-md-1">
        <a href="{% url action="edit_message" notification_template_id=template.id %}" class="btn btn-info">
          <span class="glyphicon glyphicon-pencil"></span> Edit
        </a>
      </div>

    </div>
    {% endif %}


  </div>
</div>



  <div class = "container-fluid">
    <div class = "row">
      <div class = "col-md-12">
        <h3> Dispatched messages </h3>
      </div>
    </div>
  </div>

<!-- Present the notifications belonging to the template -->
<div class = "well">

  <div class = "container-fluid">
    <div class = "row">
      <div class = "col-md-12">

        <table id="table" class = "table" 
          data-toggle="table"
          data-search="true"
          data-show-columns="true"
          data-show-toggle="true"
          data-pagination="true"
          data-page-size="250"
          data=>
          <thead>
            <tr>
              <th data-sortable="true">Status</th>
              <th data-sortable="true">GCM Message Id</th>

              {% for property in user_properties %}
              <th data-sortable="true">{{property}}</th>
              {% endfor %}

              {% for property in device_properties %}
              <th data-sortable="true">{{property}}</th>
              {% endfor %}

            </tr>
          </thead>

          <tbody>
            {% for notification in template.notification %}

            {% if notification.is_sent %}
            <tr class = "success">
            {% else %}
            <tr class = "danger">
            {% endif %}

            <td> {{ notification.delivery_status}}</td>
            <td> {{ notification.gcm_message_id}}</td>

            {% for property in user_properties %}
            <td> {% value_for_user_property user=notification.device.usr property=property %}</td>
            {% endfor %}

            {% for property in device_properties %}
            <td> {% value_for_device_property device=notification.device property=property %}</td>
            {% endfor %}
          </tr>

            {% endfor %}
          </tbody>

        </table>

      </div>
    </div>

  </div>
</div>


<!-- Delete Modal -->
<div class="modal fade" id="modal" role="dialog">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Delete notification?</h4>
      </div>
      <div class="modal-body">
        <p>This action cannot be undone.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" onClick="deleteNotificationTemplate();">Delete</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>

{% endblock %}
