{% extends "template_base.html" %}

<!-- 
  Navbar template that all templates that want are in the default navbar should extend.
  Possible extension points are:
    - block title
    - block body
-->


{% block head %}

<nav id="navbar" class = "navbar navbar-default navbar-static-top" role = "navigation">

<div class = "container-fluid">
    <div class = "row">
      <div class = "col-md-12">

        <div class = "navbar-header">
          <a class = "navbar-brand" href = "#">
            {% if _session.admin_name %}
            {{ _session.admin_name }}
            {% else %} 
            Unauthorized User 
            {% endif %}
          </a>
        </div>

        <ul class = "nav navbar-nav">
          <li>
          <a href = "/push/new_message">Create notification
            <span class="glyphicon glyphicon-comment"></span>
          </a>
          </li>

          <li>
          <a href = "/push/view_messages">View notifications
            <span class="glyphicon glyphicon-comment"></span>
          </a>
          </li>
        </ul>

        {% if _session.admin_name %}
        <div class="nav navbar-nav navbar-right">
          <a href="/auth/logout" class="navbar-brand"><strong>Logout</strong></a>
        </div>
        {% endif %}

        <script>
        <!-- Mark currently selected list item as active -->
          $(document).ready(function() {
            $.each($('#navbar').find('li'), function() {
              $(this).toggleClass('active', window.location.pathname.indexOf($(this).find('a').attr('href')) > -1);
            }); 
          });
        </script>

      </div>
    </div>
</nav>

{% endblock %}
